.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color:rgb(78, 99, 78);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    height: 120px;
    width: 70%;
}